@font-face {
    font-family: "Century Gothic", sans-serif;
	src: url('../../../fonts/1105886371.eot'); /* IE9 Compat Modes */
	src: url('../../../fonts/1105886371.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../../../fonts/1105886371.woff') format('woff'), /* Modern Browsers */
	     url('../../../fonts/1105886371.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../../../fonts/1105886371.svg') format('svg'); /* Legacy iOS */
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Century Gothic", sans-serif;
		src: url('../../../fonts/1105886371.svg') format('svg');
	}
}

body {font-family: 'Century Gothic', sans-serif; font-size:1.5em; background-color: #f0f0f0;}

/* Misc */
.pull-right{float:right; float: right; padding-top: 4px;}
.pull-left{float:left;}
.center-align{margin:0 auto; text-align:center;}
.divider-line {margin: auto; z-index: 1; width: 165px; height: 2px; background-color:#ccc; margin-top:10px; margin-bottom:10px;}
a{color:#29abe2;}
a:hover, a:visited, a:active{text-decoration:none;color: rgba(41,171,226,.75);}
.clear-both{clear:both;}
.content{padding-top:20px;}

/* Colors */
.light-grey-background{background-color:#f3f3f3;}
.blue-background{background-color:#29abe2;}
.dark-grey-background{background-color:#404040;}
.light-grey-text{color:#f3f3f3;}
.blue-text{color:#29abe2;}
.dark-grey-text{color:#404040;}

/* Form Elements */
.form-horizontal{padding:20px 0 20px 0;}
.form-control{border:none; border-radius:0px;border: 2px solid #ccc; background-color:transparent; color:#404040;}
.col-sm-8 .alert-danger{background-color: #F2DEDE; border-color: #EBCCD1; color: #A94442;}
.form-control::-webkit-input-placeholder {color: #29abe2; font-style:italic;}
 /* Firefox 18- */
.form-control:-moz-placeholder {color: #29abe2; font-style:italic;}
/* Firefox 19+ */
.form-control::-moz-placeholder {color: #29abe2; font-style:italic;}
.form-control:-ms-input-placeholder {color: #29abe2; font-style:italic;}
.form-control:focus{border-color:#29abe2; box-shadow:none;}

.col-sm-8 .alert-danger::-webkit-input-placeholder {color: #A94442;}
 /* Firefox 18- */
.col-sm-8 .alert-danger:-moz-placeholder {color: #A94442;}
/* Firefox 19+ */
.col-sm-8 .alert-danger::-moz-placeholder {color: #A94442;}
.col-sm-8 .alert-danger:-ms-input-placeholder {color: #A94442;  }
.col-sm-8 .alert-danger:focus{box-shadow:none;}

.search-flights textarea{min-height:110px;}
.form-group span.info{color:#29abe2; font-style:italic; font-size:0.8em;}
.form-group span.required{color:#e7302a; font-size:0.8em;}

/* Buttons */
.btn{border:none; border-radius:0px;}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active{background-color:#f3f3f3;}
.btn:hover, .btn:active, .btn:visited{background: rgba(41,171,226,.75); color:#fff;}
.btn-red{background-color:#29abe2; color:#fff;}
.btn-grey{background-color:#F9F8F8; color:#000;}

/* Navbar */
.navigation{background-color:#29ABE2;}
.navigation .container{padding-left:0px;}
nav .container-fluid{padding-left:0px;}
.navbar{margin-bottom:0px;}
.navbar-default {border: none; border-radius:0px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {background-color: #f3f3f3;color: #404040;}
.navbar-default .navbar-nav > li > a { color: #fff; font-size: 1em;}
.navbar-default .navbar-nav > li > a:hover { background-color: #f3f3f3;color: #404040;}
.navbar-nav > li {}
.navbar-nav > li::before {content: ''; position: absolute; height: 50%; left: 0; top: 25%;}
.navbar-nav > li:first-child {border-left:none; width: 158px;}
.navbar-default .navbar-toggle{background-color:#f3f3f3; color:#404040; border:none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:#f3f3f3; color:#404040; border:none;}
.navbar-default .navbar-toggle .icon-bar{background-color: #fff;}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{background-color: #f3f3f3;}

/* HEADERS */
h1, h2, h3, h4, h5, h6{color:#29abe2; text-transform:capitalize; font-weight:bold;}
h1{font-size:2em;}
h2{font-size:1.5em;}

/* Title */
.title{height: 90px; background:/*#404040;*/#000;}
.title h1{color:#29abe2; text-align:center;}
.title .container img{height: 90px;}

/* Steps */
.stepwizard-step p {margin-top: 10px;}
.process-row {display: table-row;}
.process {display: table;width: 100%;position: relative;}
.process-step button[disabled] {opacity: 1 !important;filter: alpha(opacity=100) !important;}
.process-row:before {top: 30px;bottom: 0;position: absolute;content: " ";width: 100%;height: 1px;background-color: #ccc; z-order: 0;}
.process-step { display: table-cell;text-align: center;position: relative;width: 33%;}
.process-step p {margin-top:10px;}
.btn-circle {width: 60px;height: 60px;text-align: center;padding: 6px 0;font-size: 12px;line-height: 1.428571429;border-radius: 15px; border: #CCCCCC thin solid;}

/* Pricing Table */
/* Use a wide full screen for small screens like tablets. */
@media (min-width: 768px) and (max-width:992px) {
    .container {width: initial;padding-left: 2em;padding-right: 2em;}
}
/* --- Plans ---------------------------- */
.my_planHeader {text-align: center; color: white; padding-top:0.2em; padding-bottom:0.2em;}
.my_planTitle { font-size:2em; font-weight: bold;}
.my_planPrice { font-size:1.4em; font-weight: bold;    }
.my_planDuration { margin-top: -0.6em;}
span.feature-text{font-size:0.6em;}
@media (max-width: 768px) {
    .my_planTitle { font-size:small; }    
}
/* --- Features ------------------------- */
.my_feature {line-height:2.8em;   }
@media (max-width: 768px) {
    .my_feature { text-align: center}
 }
.my_featureRow { margin-top: 0.2em;margin-bottom: 0.2em;border: 0.1em solid rgb(163, 163, 163);}    

/* --- Plan 1 --------------------------- */
.my_plan1 {background: rgba(41, 171, 226, 0.1);}
.my_planHeader.my_plan1 a {background: rgb(72, 109, 139);color:white;}
.my_planHeader.my_plan1 {background: rgba(41, 171, 226, 0.8);border-bottom: thick solid rgb(72, 109, 139);}

/* --- Plan 2 --------------------------- */
.my_plan2 {background: rgba(227, 227, 227, 0.3);}
.my_planHeader.my_plan2 a {background: #78828D;color:#fff;}
.my_planHeader.my_plan2 {background: #E3E3E3;border-bottom: thick solid #B3B3B3;color:#78828D;}

/* --- Plan 3 --------------------------- */
.my_plan3 {background: rgb(254,235,212);}
.my_planHeader.my_plan3 a {background: rgb(199, 127, 40);color:white;}
.my_planHeader.my_plan3 {background: rgb(253, 161, 49); border-bottom: thick solid rgb(199, 127, 40);}
.my_planFeature {text-align: center;font-size: 2em;}
.my_planFeature i.my_check { color: #29ABE2;}
.my_planFeature i.my_times { color: #C6C6C7;}

/* Multiselect */
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding: 10px; width:100%;}
.multiselect-container .input-group{margin:5px}
.multiselect-container>li{padding:0}
.multiselect-container>li>a.multiselect-all label{font-weight:bold}
.multiselect-container>li>label.multiselect-group{margin:0;padding:3px 20px 3px 10px;height:100%;font-weight:bold;}
.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:normal}
.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}
.multiselect-container>li>a>label>input[type="checkbox"]{margin-bottom:5px}
.btn-group, .btn-group-vertical {display: inline-block;position: relative; vertical-align: middle;width: 100%;}
.multiselect{width:100%;border: 2px solid #ccc; background-color:transparent; color:#404040;}
.btn .caret {float: right; margin-top:2%;}

/* Blog */
.thumbnail .row{margin: 0;}
.btn-read-more{color: #fff;background: #29ABE2;transition: all 0.3s ease 0s; font-weight:bold;}
.btn-read-more:hover{background:#C9C9CC;}
.thumbnail{background-color: #f3f3f3; border: none; border-radius: 0px; display: block; line-height: 1.42857; margin-bottom: 20px; padding: 4px; transition: all 0.2s ease-in-out 0s;}
.post-title h3 a { color: #333333; display: inline-block; text-align:center; width:100%;}
.post-title h3 a:hover { color: #29ABE2;}
a {transition: all 0.3s ease 0s;}
.caption p{text-align:justify;}
.post-date{background: #C9C9CC; color:#fff;}
.post-title{border: solid thin #C9C9CC;}
.post-comments{background-color:#fff; color:#2A2A2A; border-right: solid thin #C9C9CC;}
.post-comments p, .post-date p{padding-top:5px; text-align:center; font-weight:bold; font-size:0.8em;}
.post-title .col-md-2, .post-title .col-md-10{margin: 0; padding:0;}
.post-image{margin-top: 5px;}

/* ***********************
--------------------------------------
------------CONTACT FORM-----------
--------------------------------------
*************************/
#contactform  label {float: left; font-weight: bold; margin-right: 10px;text-align: right;width: 30%;}
#contactform  {}
#contactform  .commentfieldarea textarea, #contactform  .commentfield input {color:#666!important;float:left; outline: none !important;   padding: 5px; margin: 0 10px 10px 0; font-size:12px !important;background:#edeff1; border:1px solid #ccc;}
 #contactform  .commentfield input{ width:66%;}
#contactform  .commentfieldarea textarea{width:66%;}
#contactform  .contactbutton .contact-button{cursor:pointer; width:150px; background-color: #2a2b2c;color: #fff; float: left;  text-transform:uppercase;font-size: 12px; font-weight:normal; margin: 10px 0px 20px 0; padding: 10px;opacity:1;filter:alpha(opacity=100);border:none !important;margin-right:10px;}
.contactbutton{float:right; padding-right:14%;}
#contactform  .contactbutton .contact-button:hover {opacity:0.75;filter:alpha(opacity=75);}
#result{font-size:13px !important; color:#DC4D47; float:left;display:none;margin-bottom:15px;}
#resultsuccess{font-size:13px !important; color:#91B458 !important; float:left;display:none;margin-bottom:15px;}
.errorcontact{border: 1px solid #DC4D47 !important;}
#contactform .contactbutton .btn-red{background:#3399FF;}
.user_comment{border-bottom:#a9a9a9 solid thin; margin-bottom:10px;}
.user_comment h5{color:#3399FF;}
.widgett{margin-bottom:10px;}
.commentsborder {background:url(../../../images/mainBorderLine.png); repeat-x scroll left bottom rgba(0, 0, 0, 0);height: 3px;margin-top: 9px; width: 100%;}
.comments .title, .related .title{background: none;height: 100%;}
	

/*related posts*/
.relatedtitle{margin-bottom:50px;}
.titleborder.relatedb{width:600px;margin-left:-5px;}
.related{padding-bottom:20px;float:left;min-height:150px;  }
.related h3{position:absolute; display:inline-block;z-index:9; font-size: 18px !important; line-height: 24px; margin:0px 30px 10px 25px;padding:0 10px;}
.related h4{ font-size:13px !important; color:#5CBBE3 !important; text-align:center; text-transform:none !important; padding-top:0px;font-weight:bold;}

.related .one_fourth {width:137px; margin-right:17px; float:left;}
.related .one_fourth.last {margin-right:0px;}
.related .one_fourth .image img {background:#232323;background-color: rgba(10,10,10,0.3);  font-size:12px !important;  border:1px solid #333;
padding:5px;height:83px; width:126px;}
.related .one_fourth .image img:hover {opacity:0.75;filter:alpha(opacity=75)}
.related .one_fourth:hover {color:#5CBBE3 !important;}
/*end related*/

/* Footer */
.footer {border-bottom: 1px solid #cccccc;border-top: 1px solid #dddddd; height: auto;padding-bottom: 30px;position: relative;width: 100%;}
.footer ul {
  list-style: none;
  margin-left: -39px;
}

.footer a{color:#fff;}

/* Footer Bottom */
.footer-bottom {border-top: 1px solid #dddddd; padding-bottom: 10px; padding-top: 10px;}

.terms p{text-align:justify;font-size: 1.1em;}

.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
}
.navbar-default .navbar-nav>li>a {
    font-weight:bold;
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 11%;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 10.8%;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/* Products page */

/* 1. Left Nav */
.left-nav h4 {
background: none repeat scroll 0 0 #29abe2;
border: 1px solid #E6E6E6;
color: #fff;
font-size: 0.9em;
padding: 15px 15px;
margin: 0 0 10px 0;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 1px;
}
.shopping-cart h4, .summary-cart h4, .coupon h4, .checkout-progress h4, .login-client h4, .register-customer h4, .guest-checkout h4, .product-images h4, .product-content-header h4{
background: none repeat scroll 0 0 #29abe2;
border: 0px solid #E6E6E6;
color: #fff;
font-size: 0.9em;
padding: 15px 15px;
margin: 0 0 0px 0;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 1px;


}



/*2. styles */
.main-container{margin-top:30px;}
.category-product
{
  margin-top: 20px;
  padding-left: 3px;
  padding-right: 3px;
}
.item{padding:10px;}
.price-details {border-top: 1px solid #29ABE2;margin-top: 10px; width:100%}
.price-number {
    float: left;
    padding-top: 5px;
}

.add-cart {display: inline-block; padding-right:0;}
.add-cart h4{float: right;  border-bottom: thin solid #29ABE2; border-right: thin solid #29ABE2; display:inline-flex; margin:0;}

.add-cart h4 a.add_to_cart {
    background: none repeat scroll 0 0 #29ABE2;
    color: #FFFFFF;
    font-size: 0.9em;
    outline: 0 none;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.5s ease-in-out 0s;
}

.add-cart h4 a.product_details {
    background: none repeat scroll 0 0 #fff;
    color: #29ABE2;
    font-size: 0.9em;
    outline: 0 none;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.5s ease-in-out 0s;
}

.product .image img{height: 200px;}
.promotion {
    line-height: 18px;
    border-radius: 4px;
    bottom: 150px;
    height: 24px;
    left: 0;
    position: absolute;
    width: auto;
    z-index: 10;
}
.promotion:after {clear:both}
.discount {
    background: none repeat scroll 0 0 rgba(255, 0, 48, 0.9) !important;
    border-radius: 0 4px 4px 0;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    height: 100%;
    padding: 3px 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.product .row{margin:0;}

/*3. top navigation */
.top-navigation{
 background: none repeat scroll 0 0 #29abe2;
/* border: 1px solid #fff; */
color: #fff;
font-size: 0.9em;
padding: 5.5px 4px;
border-radius: 0;
}
.top-navigation p{padding-top:7px; margin-bottom:0px;}
.top-navigation  .form-control{border:none; border-radius:0px;border: 2px solid #fff; background-color:transparent; color:#fff;}
/*4. Breadcrumbs*/
.breadcrumb{background-color:#fff;}


/* Media Queries */
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

@media (max-width: 991px){
	.flight-types > ul > li:before {margin-right: 8%;}
}

@media (max-width: 767px){
	.search-flights .btn-red{width:100%;}
	
}

@media (max-width: 730px){
	
}

@media (max-width: 688px){
	
}

@media (max-width: 558px){
}

@media (max-width: 528px){
	
}

@media (max-width: 523px){
	
}

@media (max-width: 407px){
	h1{font-size:1.5em;}
	body {font-size:1.2em;}
}

@media (max-width: 360px){
	
}

@media (max-width: 340px){
	
}

@media (max-width: 321px){
	h1{font-size:1.3em;}
	body {font-size:1.2em;}
}






/*Custom CSS over writting */
.navbar-nav {
float: left;
}
.navbar-nav {
margin: 0px -22px;
}
.form-horizontal .control-label {
padding-top: 0px;
}
/*end of the custom css*/



/*Single products css view single product*/
/*---
| BOX
---*/
.hgroup.title {
  margin: 0 -20px;
  padding: 0 20px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
  background-color: #ffffff;
  height: auto;
}
.hgroup.title h1,
.hgroup.title h2,
.hgroup.title h3,
.hgroup.title h4,
.hgroup.title h5,
.hgroup.title h6 {
  font-size: 14px;
  line-height: 21px;
  color: #939694;
  font-weight: 400;
  margin: 0;
}
.hgroup.title h1:first-child,
.hgroup.title h2:first-child,
.hgroup.title h3:first-child,
.hgroup.title h4:first-child,
.hgroup.title h5:first-child,
.hgroup.title h6:first-child {
  font-size: 16px;
  line-height: 24px;
  color: #474948;
  font-weight: 700;
}
.box {
margin-bottom: 20px;
background-color: #ffffff;
padding: 20px;
-webkit-border-radius: 2px;
-webkit-background-clip: padding-box;
-moz-border-radius: 2px;
-moz-background-clip: padding;
border-radius: 2px;
background-clip: padding-box;
-webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
-moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
/* color: @arguments; */
}

.box .box-header {
  margin: 0 -20px;
  padding: 0 20px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
  background-color: #ffffff;
}
.box .box-header h3 {
  font-size: 16px;
  line-height: 24px;
  color: #474948;
  font-weight: 700;
  margin: 0;
}
.box .box-header h5 {
  font-size: 14px;
  line-height: 21px;
  color: #939694;
  font-weight: 400;
  margin: 0;
}
.box .box-image {
  margin: -20px -20px 20px;
  border-bottom: 1px solid #f0f0f0;
}
.box .box-image a,
.box .box-image img {
  display: block;
}
.box .box-body,
.box .box-content {
  margin-top: 20px;
}
.box .box-body > *:last-child,
.box .box-content > *:last-child {
  margin-bottom: 0;
}
.box .box-body .price-list,
.box .box-content .price-list {
  margin: -20px;
}
.box .box-body .price-list li,
.box .box-content .price-list li {
  margin: 0;
}
.box .box-footer {
  /*zoom: 1;*/
  margin: 20px -20px -20px;
  padding: 20px;
  border-top: 1px solid #f0f0f0;
  background-color: #f9f9f9;
}
.box .box-footer:before {
  content: '';
  display: block;
}
.box .box-footer:after {
  content: '';
  display: table;
  clear: both;
}
.box .box-header + .box-footer {
  border-top: none;
  margin-top: 0;
}
.box .box-content.highlight {
  margin: 0 -20px;
  padding: 0 20px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: -20px;
}
.box .buttons {
  /*zoom: 1;*/
  margin: 20px -20px -20px;
  padding: 20px;
  border-top: 1px solid #f0f0f0;
  background-color: #f9f9f9;
}
.box .buttons:before {
  content: '';
  display: block;
}
.box .buttons:after {
  content: '';
  display: table;
  clear: both;
}
.box .hgroup.title + .buttons {
  border-top: none;
  margin-top: 0;
}
.box.border-top {
  border-top: 5px solid #1abc9c;
}
.box.border-right {
  border-right: 5px solid #1abc9c;
}
.box.border-bottom {
  border-bottom: 5px solid #1abc9c;
}
.box.border-left {
  border-left: 5px solid #1abc9c;
}
.extend {
  margin: 0 -20px;
  padding: 0 20px;
}
/*---
| PANELS (THESE TO REPLACE ALL BOXES)
---*/
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
  /*color: @arguments;*/
}
.panel .panel-content {
  margin: -20px;
  padding: 20px;
}
.panel.border-top {
  border-top: 5px solid #1abc9c;
}
.panel.border-right {
  border-right: 5px solid #1abc9c;
}
.panel.border-bottom {
  border-bottom: 5px solid #1abc9c;
}
.panel.border-left {
  border-left: 5px solid #1abc9c;
}
.panel-navigation {
  list-style: none;
  margin: -20px 0;
  font-size: 12px;
}
.panel-navigation .panel-navigation {
  margin: 0;
}
.panel-navigation a {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 -20px;
  color: #474948;
  text-decoration: none;
  position: relative;
}
.panel-navigation a:hover {
  background-color: #1abc9c;
  color: #ffffff;
  border-color: #1abc9c;
}
.panel-navigation a:hover .toggle {
  color: #1abc9c;
  background-color: #ffffff;
}
.panel-navigation.primary > li > a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.panel-navigation.primary .toggle {
  margin-top: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  position: absolute;
  right: 20px;
  background-color: #d7d7d7;
  color: #ffffff;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
/*---
| PAYMENT FORM
---*/
.payment-form > div {
  margin-top: 20px;
}
.payment-form ul.form {
  list-style: none;
}
.payment-form ul.form > li {
  margin-bottom: 20px;
}

/*---
| product glyphicon
---*/
.product-info .product-content .nav-tabs .glyphicon{
  font-size: 20px;
  margin-bottom: 8px;
}

.nav-tabs li .glyphicon{
  font-size: 20px;
  margin-bottom: 8px;
}
.highlight
{
  padding: 20px;
  margin-bottom: 20px;
background-color: #ffffff;
-webkit-border-radius: 2px;
-webkit-background-clip: padding-box;
-moz-border-radius: 2px;
-moz-background-clip: padding;
border-radius: 2px;
background-clip: padding-box;
-webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
-moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
}
.checkout-progress .box
{
  padding: 0px;
}
.checkout-progress .box #checkout-content
{
  padding: 20px;
}
/*end of glyphicon */


/*---
| PRODUCT
---*/
.product-info {
  margin-bottom: 80px;
}
.product-info .product-content .nav-tabs {
  margin: -20px -20px 20px;
}
.product-info .product-content .tab-content {
  overflow: visible;
}
.product-info .product-content #product .details,
.product-info .product-content #product .short-description,
.product-info .product-content #product .options,
.product-info .product-content #product .extras,
.product-info .product-content #product .add-to-cart {
  padding: 20px 0;
}
.product-info .product-content #product .details {
  padding-top: 0;
}
.product-info .product-content #product .add-to-cart {
  padding-bottom: 0;
}
.product-info .product-content #product form > div {
  border-bottom: 1px solid #f0f0f0;
}
.product-info .product-content #product form > div:last-child {
  border-bottom: none;
}
.product-info .product-content #product .details h1 {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 30px;
}
.product-info .product-content #product .details .prices {
  line-height: 24px;
  margin: 0 0 20px;
}
.product-info .product-content #product .details .prices .price {
  color: #1abc9c;
  font-weight: 600;
  font-size: 20px;
}
.product-info .product-content #product .details .prices .base {
  color: #c7c8c8;
  font-size: 14px;
  font-weight: 400;
}
.product-info .product-content #product .details .meta {
  color: #606362;
  font-size: 12px;
  text-decoration: none;
  /*zoom: 1;*/
}
.product-info .product-content #product .details .meta:before {
  content: '';
  display: block;
}
.product-info .product-content #product .details .meta:after {
  content: '';
  display: table;
  clear: both;
}
.product-info .product-content #product .details .meta > div {
  float: left;
  margin-right: 20px;
}
.product-info .product-content #product .details .meta > div i {
  margin-right: 2px;
}
.product-info .product-content #product .details .meta .categories a {
  color: inherit;
  text-decoration: none;
}
.product-info .product-content #product .details .meta .categories a:after {
  content: ", ";
}
.product-info .product-content #product .details .meta .categories a:last-child:after {
  content: "";
}
.product-info .product-content #product .details .meta .categories a:hover {
  color: #1abc9c;
}
.product-info .product-content #product .short-description {
  color: #939694;
  font-size: 14px;
}
.product-info .product-content #product .short-description p {
  margin-bottom: 0;
}
.product-info .product-content #product .extra {
  float: left;
  margin-right: 20px;
}
.product-info .product-content #description {
  font-size: 13px;
}
.product-info .product-content #description > *:last-child {
  margin-bottom: 0;
}
.product-info .product-content #description ul li,
.product-info .product-content #description ol li {
  list-style-position: inside;
}
.product-info .product-images .box {
  margin-bottom: 0;
}
.product-info .product-images .primary {
  margin: -20px -20px 0;
}
.product-info .product-images .thumbs {
  margin: 0 -20px;
  padding: 20px;
  position: relative;
}
.product-info .product-images .thumbs:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  left: 20px;
  top: -8px;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.product-info .product-images .thumbs .thumbs-list {
  margin-left: -3%;
  margin-bottom: -3%;
  /*zoom: 1;*/
}
.product-info .product-images .thumbs .thumbs-list:before {
  content: '';
  display: block;
}
.product-info .product-images .thumbs .thumbs-list:after {
  content: '';
  display: table;
  clear: both;
}
.product-info .product-images .thumbs .thumbs-list li {
  width: 17%;
  float: left;
  margin-left: 3%;
  margin-bottom: 3%;
  list-style: none;
}
.product-info .product-images .thumbs .thumbs-list li a {
  display: block;
  border: 4px solid #f0f0f0;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.product-info .product-images .thumbs .thumbs-list li a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #474948;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.product-info .product-images .thumbs .thumbs-list li a:hover {
  border-color: #1abc9c;
}
.product-info .product-images .thumbs .thumbs-list li a:hover:before {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.product-info .product-images .thumbs .thumbs-list li a.active {
  border-color: #1abc9c;
}
.product-info .product-images .thumbs .thumbs-list li img {
  display: block;
}
.product-info .social {
  margin: 0 -20px -20px;
  padding: 20px;
  border-top: 1px solid #f0f0f0;
  background-color: #f9f9f9;
}
.product-info .social #sharrre {
  text-align: center;
}
.product-info .social #sharrre > div {
  display: inline-block;
}
.product-reviews {
  padding: 80px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.19999999999999996), 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  -moz-box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.19999999999999996), 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.19999999999999996), 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  /*color: @arguments;*/
}
.product-reviews h5 {
  text-align: center;
  margin-bottom: 40px;
}
.product-reviews h5 .script {
  display: inline-block;
  margin: 0 5px;
  color: #1abc9c;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.fb-comments,
.fb-comments > span,
.fb-comments iframe[style] {
  width: 100% !important;
}
.product-related {
  padding-top: 80px;
}
.product-related h5 {
  text-align: center;
  margin-bottom: 40px;
}
.comment-item,
.rating-item {
  border-top: 1px solid #f0f0f0;
  margin-top: 20px;
  padding-top: 20px;
}
.comment-item .gravatar,
.rating-item .gravatar {
  float: left;
  margin-right: 10px;
}
.comment-item h6,
.rating-item h6 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.comment-item small,
.rating-item small {
  font-size: 12px;
  line-height: 18px;
  color: #868988;
}
.comment-item h5,
.rating-item h5 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}
.comment-item p,
.rating-item p {
  font-size: 12px;
  line-height: 18px;
  color: #666968;
  margin-bottom: 0;
}
.comment-item .rating,
.rating-item .rating {
  font-size: 12px;
  color: #868988;
}
.comment-item:first-child,
.rating-item:first-child {
  margin-top: 0;
  border-top: none;
  padding-top: 0;
}
#ratings .well {
  color: #666968;
}
#ratings .well h6 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
/*---
| NAV-TABS
---*/
.nav-tabs {
  border-bottom: 5px solid #29abe2;
  margin-bottom: 0;
  background-color: #ffffff;
}
.nav-tabs li {
  margin-bottom: 0;
}
.nav-tabs li > div,
.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li a:active,
.nav-tabs li a:focus {
  text-decoration: none;
  margin-right: 0px;
  padding: 14px 20px 9px;
  border: none;
  font-size: 12px;
  color: #797d7b;
  text-transform: uppercase;
  background-color: #ffffff;
  outline: 0 none;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.nav-tabs li > div [class^="icon-"],
.nav-tabs li a [class^="icon-"],
.nav-tabs li a:hover [class^="icon-"],
.nav-tabs li a:active [class^="icon-"],
.nav-tabs li a:focus [class^="icon-"],
.nav-tabs li > div [class*=" icon-"],
.nav-tabs li a [class*=" icon-"],
.nav-tabs li a:hover [class*=" icon-"],
.nav-tabs li a:active [class*=" icon-"],
.nav-tabs li a:focus [class*=" icon-"] {
  margin: 0 0 6px;
  display: block;
  text-align: center;
}
.nav-tabs li > div span,
.nav-tabs li a span,
.nav-tabs li a:hover span,
.nav-tabs li a:active span,
.nav-tabs li a:focus span {
  display: block;
  text-align: center;
}
.nav-tabs li a:hover {
  color: #1abc9c;
}
.nav-tabs li.active > div,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:active,
.nav-tabs li.active a:focus {
  border: none;
  background-color: #29abe2;
  color: #ffffff;
}
.nav-tabs + .box {
  position: relative;
  z-index: 10;
}
.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.nav-tabs.nav-stacked > li > a {
  border: none;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fbfbf9;
  padding: 15px 20px;
  text-transform: none;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:active,
.nav-tabs.nav-stacked > li > a:focus {
  border-bottom: 1px solid #1abc9c;
  background-color: #1abc9c;
  color: #ffffff;
}
.nav-tabs.nav-stacked li.active {
  position: relative;
}
.nav-tabs.nav-stacked li.active a {
  border-right: none;
  border-bottom: 1px solid #e3e3e3;
  background-color: #ffffff;
  color: #1abc9c;
  font-weight: 700;
}
.nav-tabs.nav-stacked li.active:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 1px;
  right: -1px;
  width: 1px;
  background-color: #ffffff;
}

/*end of single product */

/* Gallery styles */

#gallery{
    /* CSS3 Box Shadow */
    -moz-box-shadow:0 0 3px #AAAAAA;
    -webkit-box-shadow:0 0 3px #AAAAAA;
    box-shadow:0 0 3px #AAAAAA;

    /* CSS3 Rounded Corners */

    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;

    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;

    border:1px solid white;

    background:url(img/panel.jpg) repeat-x bottom center #ffffff;

    /* The width of the gallery */

    overflow:hidden;
}

#gallery #slides{
    /* This is the slide area */
    /*height:400px;*/

    /* jQuery changes the width later on to the sum of the widths of all the slides. */
    /*width:920px;*/
    overflow:hidden;
}

#gallery #slides .slide{
    float:left;
}

#gallery #menu{
    /* This is the container for the thumbnails */
    height:45px;
}

#gallery #menu ul{
    margin:0px;
    padding:0px;
}

#gallery #menu ul li{
    /* Every thumbnail is a li element */
    width:60px;
    display:inline-block;
    list-style:none;
    height:45px;
    overflow:hidden;
}

#gallery #menu ul li.inact:hover{
    /* The inactive state, highlighted on mouse over */
    background:url(img/pic_bg.png) repeat;
}

#gallery #menu ul li.act,li.act:hover{
    /* The active state of the thumb */
    background:url(img/active_bg.png) no-repeat;
}

#gallery #menu ul li.act a{
    cursor:default;
}

#gallery #menu ul .fbar{
    /* The left-most vertical bar, next to the first thumbnail */
    width:2px;
    background:url(img/divider.png) no-repeat right;
}

#gallery #menu ul li a{
    display:block;
    background:url(img/divider.png) no-repeat right;
    height:35px;
    padding-top:10px;
}

#gallery #menu ul li a img{
    border:none;
}


/*---
| MODAL
---*/
.modal {
  border: none;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.5);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.5);
  /*color: @arguments;*/
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.modal-lg
{
  background-color: #fff;
}
.modal .modal-header {
  padding: 20px;
}
.modal .modal-header .hgroup.title {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.modal .modal-header button {
  margin: 0;
}
.modal .modal-body {
  padding: 20px;
}
.modal .modal-footer {
  padding: 20px;
  border-top: 1px solid #f0f0f0;
  background-color: #f9f9f9;
  text-align: left;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*color: @arguments;*/
}
.modal .modal-head + modal-footer {
  border-top: none;
}
.modal-backdrop {
  background-color: #474948;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
/*---
| TABLES
---*/
.styled-table {
  width: 100%;
  margin-bottom: 20px;
}
.styled-table thead th,
.styled-table thead td {
  font-size: 12px;
  color: #474948;
  border-bottom: 1px solid #d7d7d7;
  text-transform: uppercase;
}
.styled-table thead th {
  font-weight: 600;
}
.styled-table thead td {
  font-weight: 400;
}
.styled-table tbody th,
.styled-table tbody td {
  border-bottom: 1px solid #f0f0f0;
}
.styled-table thead th,
.styled-table tbody th,
.styled-table thead td,
.styled-table tbody td {
  text-align: left;
  padding: 10px;
  vertical-align: top;
}
.styled-table thead th:first-child,
.styled-table tbody th:first-child,
.styled-table thead td:first-child,
.styled-table tbody td:first-child {
  padding-left: 0;
}
.styled-table thead th:last-child,
.styled-table tbody th:last-child,
.styled-table thead td:last-child,
.styled-table tbody td:last-child {
  padding-right: 0;
}
.styled-table thead th.text-left,
.styled-table tbody th.text-left,
.styled-table thead td.text-left,
.styled-table tbody td.text-left {
  text-align: left;
}
.styled-table thead th.text-center,
.styled-table tbody th.text-center,
.styled-table thead td.text-center,
.styled-table tbody td.text-center {
  text-align: center;
}
.styled-table thead th.text-right,
.styled-table tbody th.text-right,
.styled-table thead td.text-right,
.styled-table tbody td.text-right {
  text-align: right;
}
/*---
| HELPERS
---*/

/*---
| GENERIC THINGS
---*/
.script {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-size: 150%;
}
.price-list {
  margin-bottom: -20px;
}
.price-list li {
  margin: 0 -20px;
  border-bottom: 1px dotted #f0f0f0;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
  font-size: 13px;
  position: relative;
}
.price-list li strong {
  position: absolute;
  right: 20px;
}
.price-list li em {
  display: block;
  margin-top: 10px;
}
.price-list li.important {
  font-size: 14px;
  color: #1abc9c;
}
/*---
| FLASH MESSAGE
---*/
.flash {
  background-color: #1abc9c;
  font-size: 12px;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}
.flash a.remove {
  display: block;
  width: 14px;
  height: 14px;
  text-align: center;
  color: rgba(71, 73, 72, 0.6);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  top: 4px;
  right: 4px;
}
.flash a.remove:hover {
  color: rgba(71, 73, 72, 0.8);
}
.flash.error {
  background-color: #c24227;
}
/*---
| AJAX LOADER
---*/
.ajax_loading_indicator {
  position: fixed;
  background: url('../../img/loader.gif') center center no-repeat rgba(71, 73, 72, 0.5);
  width: 100%;
  height: 100%;
}
.ajax_loading_indicator > span {
  display: none;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
/*border-color: #cacaca;
-webkit-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
-moz-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);*/
/* color: @arguments; */
}
/*products page*/
.product-content
{
  background-color: #fff;
  margin-bottom: 5px;
}
.product-price-filter, .product-brand-filter
{
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
  margin-top: -12px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
/*end of products page css*/